div.content {
  margin-left: 150px;
}

div.bottom-space {
  margin-bottom: 15px;
}

img.thumbnail {
  cursor: pointer;
}

div.results-container {
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #DDD;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
