<div class="bottom-space center">
  <a id="btnAddTeam" class="pure-button pure-button-success" href="/admin/teams/new"><i class="zmdi zmdi-plus-circle"></i> Add Team</a>
</div>
{{ if not .TemplateData.Teams }}
<div>No teams have been created</div>
{{ else }}
<table id="teams-table" class="sortable pure-table pure-table-bordered center">
  <thead>
      <tr>
          <th>Name</th>
          <th class="only-large">Management Link</th>
          <th class="only-large">Members</th>
          <th class="only-large">Game</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      {{ range $i, $v := .TemplateData.Teams }} 
      <tr>
          <td>{{ $v.Name }}<p class="only-small">{{ $v.Game.Name }}</p></td>
          <td class="only-large"><a href="/team/{{ $v.UUID }}">{{ $v.UUID }}</a></td>
          <td class="only-large">{{ len $v.Members }}</td>
          <td class="only-large">{{ $v.Game.Name }}</td>
          <td>
            <a href="/admin/teams/{{ $v.UUID }}/edit" class="pure-button pure-button-plain"><i class="zmdi zmdi-edit"></i></a>
            <a href="/admin/teams/{{ $v.UUID }}/delete" class="pure-button pure-button-plain"><i class="zmdi zmdi-delete"></i></a>
          </td>
      </tr>
      {{ end }}
  </tbody>
</table>
{{ end }}
