<div>The hosting server is always an authenticated client</div>
{{ if not .TemplateData.Clients }}
<div>No additional clients have been authenticated</div>
{{ else }}
<table id="clients-table" class="hidden sortable pure-table pure-table-bordered center">
  <thead>
      <tr>
          <th>Client ID</th>
          <th>Last Known IP</th>
      </tr>
  </thead>
  <tbody>
      {{ range $i, $v := .TemplateData.Clients }} 
      <tr>
          <td>{{ $v.Id }}</td>
          <td>{{ $v.Ip }}</td>
          <td>
            <a href="/admin/clients/{{ $v.UUID }}/deauth" class="pure-button pure-button-plain"><i class="fa fa-trash"></i></a>
          </td>
      </tr>
      {{ end }}
  </tbody>
</table>
{{ end }}
