<div class="center">
  <form class="pure-form pure-form-aligned" action="/admin/clients/{{ .TemplateData.Id }}/auth" method="POST">
    <fieldset>
      <h2>Client Information</h2>
      <div class="pure-control-group">
        <label>Client ID:</label>
        <input class="larger disabled-but-visible" value="{{ .TemplateData.Id }}" disabled="disabled" />
      </div>
      <div class="pure-control-group">
        <label>Client IP:</label>
        <input class="larger disabled-but-visible" value="{{ .TemplateData.Ip }}" disabled="disabled" />
      </div>
      <div class="pure-control-group">
        <label for="clientname">Friendly Name</label>
        <input class="larger" id="clientname" name="clientname" type="clientname" value="{{ .TemplateData.Name }}" placeholder="Friendly Name">
      </div>

      <h2>Admin Information</h2>
      <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text" placeholder="Email Address" autofocus>
      </div>
      <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password">
      </div>

      <button type="submit" class="pure-button pure-button-primary space-vertical">Submit</button>
    </fieldset>
  </form>
</div>
