{{ $uuid := .TemplateData.UUID }}
<div class="center">
  <form class="pure-form pure-form-aligned" action="/admin/teams/{{ .TemplateData.UUID }}/save" method="POST">
    <fieldset>
      <div class="pure-control-group">
        <span>{{ .TemplateData.Name }}</span>
      </div>

      <div class="pure-control-group">
        <label class="control-label" for="teamname">Team Name</label>
        <input id="teamname" name="teamname" value="{{ .TemplateData.Name }}" placeholder="Team Name">
      </div>

      <div class="pure-control-group reset-pull">
        <a href="/admin/teams" class="pull-left space pure-button pure-button-plain">Cancel</a>
        <button type="submit" class="pull-right space pure-button pure-button-primary">Update</button>
        <button type="button" id="btnDeleteUser" class="pull-right space pure-button pure-button-error">Delete</button>
      </div>
    </fieldset>
  </form>

  <h2>Members</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Slack ID</th>
            <th>Twitter</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {{ range $i, $v := .TemplateData.Members }}
          <tr>
            <td>{{ $v.Name }}</td>
            <td>{{ $v.SlackId }}</td>
            <td>{{ $v.Twitter }}</td>
            <td>{{ $v.Email }}</td>
            <td>
              <a href="/admin/teams/{{ $v.UUID }}/edit" class="pure-button pure-button-plain"><i class="fa fa-pencil"></i></a>
            </td>
            <td>
              <form action="/admin/teams/{{ $uuid }}/deletemember" method="POST">
                <input type="hidden" name="memberid" value="{{ $v.UUID }}"/>
                <button type="submit" class="pure-button pure-button-plain"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
          {{ end }}
          <tr>
            <td colspan="6" class="center">Add a new member</td>
          </tr>
          <tr>
            <td colspan="6">
              <form action="/admin/teams/{{ $uuid }}/savemember" method="POST">
                <input id="newmembername" name="newmembername" value="" placeholder="Member Name" />
                <input id="newmemberslackid" name="newmemberslackid" value="" placeholder="@SlackID" />
                <input id="newmembertwitter" name="newmembertwitter" value="" placeholder="@Twitter" />
                <input id="newmemberemail" name="newmemberemail" value="" placeholder="user@email.com" />
                <button type="submit" class="pull-right space pure-button pure-button-primary">Add</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<script>
  snack.listener(
    {node:document.getElementById('btnDeleteTeam'),event:'click'},
    function() {
      showModal({
        title: 'Delete Team',
        subtitle: '({{ .TemplateData.Name }} - {{ $uuid}})',
        body: 'Are you sure? This cannot be undone.',
        buttons: [{
          title:'Cancel',
          position:'left',
          click: hideModal
        },{
          title:'Delete',
          position:'right',
          class: 'pure-button-error',
          href: '/admin/teams/{{ $uuid }}/delete'
        }]
      });
    }
  );
</script>
