<div class="">
  <div>
    <h3>Public Mode</h3>
    <button onclick="window.location.href='/admin/mode/0'" class="pure-button-toggle-first pure-button {{ if eq .PublicMode 0 }}pure-button-primary{{ end }}">Waiting</button>
    <button onclick="window.location.href='/admin/mode/1'" class="pure-button-toggle-last pure-button {{ if eq .PublicMode 1 }}pure-button-primary{{ end }}">Voting</button>
  </div>
  <!--
  <div>
    <h3>Allowed Voting Terminals</h3>
    <button onclick="window.location.href='/admin/authmode/0'" class="pure-button-toggle-first pure-button {{ if eq .AuthMode 0 }}pure-button-primary{{ end }}">Only Authenticated Clients</button>
    <button onclick="window.location.href='/admin/authmode/1'" class="pure-button-toggle-last pure-button {{ if eq .AuthMode 1 }}pure-button-primary{{ end }}">Any Client Can Vote</button>
  </div>
  -->
  {{ if eq .PublicMode 1 }}
  <div class="results-container">
  <h2>Current Results</h2>
  {{ range $i, $v := .TemplateData }}
    {{ range $ti, $tv := $v.Teams }}
      {{ $v.Rank }}: {{ $tv.Name }}<br />
    {{ end }}
  {{ end }}
  </div>
  {{ end }}
  <div>
    <h3>Admin Sections</h3>
    <button class="pure-button" onclick="window.location.href='/admin/votes'">Votes</button>
    <button class="pure-button" onclick="window.location.href='/admin/teams'">Teams</button>
    <button class="pure-button" onclick="window.location.href='/admin/games'">Games</button>
    <button class="pure-button" onclick="window.location.href='/admin/users'">Users</button>
  </div>
</div>
