<div class="center">
  <form class="pure-form pure-form-aligned" action="/admin/teams/new/save" method="POST">
    <fieldset>
      <div class="pure-control-group">
        <label for="teamname">Team Name</label>
        <input id="teamname" name="teamname" type="text" placeholder="Team Name" value="" autofocus>
      </div>

      <h2>Members</h2>
      <table>
        <thead>
          <th>Name</th>
          <th>Slack ID</th>
          <th>Twitter</th>
          <th>Email</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="team-member">
        <div class="pure-control-group">
          <label for="membername">Name</label>
          <input id="membername" name="membername" type="text" placeholder="Name" value="">
        </div>
        <div class="pure-control-group">
          <label for="memberslackid">Slack ID</label>
          <input id="memberslackid" name="memberslackid" type="text" placeholder="@SlackID" value="">
        </div>
        <div class="pure-control-group">
          <label for="membertwitter">Twitter</label>
          <input id="membertwitter" name="membertwitter" type="text" placeholder="@TwitterID" value="">
        </div>
        <div class="pure-control-group">
          <label for="memberemail">Email</label>
          <input id="memberemail" name="memberemail" type="text" placeholder="user@email.com" value="">
        </div>
      </div>
      <button type="submit" class="pure-button pure-button-primary">Add Team</button>
    </fieldset>
  </form>
</div>
