<div class="center">
  <form class="pure-form pure-form-aligned" action="/admin/users/new/save" method="POST">
    <fieldset>
      <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text" placeholder="Email Address" value="" autofocus>
      </div>

      <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password">
      </div>

      <div class="pure-control-group">
        <label for="password_rpt">Repeat Password</label>
        <input id="password_rpt" name="password_rpt" type="password" placeholder="Repeat Password">
      </div>

      <button type="submit" class="pure-button pure-button-primary">Add User</button>
    </fieldset>
  </form>
</div>
